.custom-visuals-body {

    font-family: "Roboto", "Helvetica Neue", sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.5;
    color: #161616;
  }
.title-align{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 300px;
    width: 270px;
    border-radius: 10px;
    border: 2px solid #dbdbdb;
    padding-top: 5%;
    flex-direction: column;
}

.card-category {
    display: flex;
    align-items: center;
    height: 20px;
    width: max-content;
    text-wrap: nowrap;
    border-radius: 4px 4px 4px 4px;
    padding: 0.5% 2%;
    margin: 1%;
}

.category-container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-self: baseline;
    margin: 0% 5% 0% 5%;
}

.card-category-editorsPick{
    background-color: #e6f3ff;
    color: #3276d2;
}

.card-category-featured{
    background-color: #d7f4da;
    color: #247b1c;
}

.card-category-noCategory{
    visibility: collapse;
}

.card-category>p {
    display: contents;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 3px;
    width: max-content;
    height: 20px;
    font-size: x-small;
}

.card-category>p>img{
    margin-inline-end: 3px;
}

.card-media{
    display: flex;
    margin-inline: 15%;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.card-content{
    height: 50px;
    margin-top: 5%;
    margin-inline: 5%;
    margin-bottom: 10%;
}

.card-certified{
    display: flex;
    width: max-content;
    height: 20px;
    align-items: center;
    text-wrap: nowrap;
    font-size: x-small;
    color: #a36710;
    background-color: #fdf4cf;
    border-radius: 4px 4px 4px 4px;
    padding: 0.5% 2%;
    margin: 1%;
}

.certified-margin{
    margin-inline-end: 3px;
}

.certified-hide{
    display: none;
}

.card-title{
    font-size: small; 
    margin-bottom: 0px;
}

.card-title>a{
    color: black !important;   
}

.card-detail-text{
    font-size: x-small;
    color: black;
}

.card-learn-more{
    font-size: large;
    font-weight: bold;
    align-self: baseline;
    margin-inline: 10%;
}

/* footer section */
.flex-col-2{
    display: flex;
    flex-direction: row;
  }
  
  .img{
    width: 140px;
    height: 140px;
  }
  .flex-col-2-contact-header{
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  
  .section-block-padding-sm{
    padding: 4% 10%;
  }
  
  .section-block-padding-md{
    padding: 8% 10%;
  }
  
  .section-block-padding-lg{
    padding: 10% 10%;
  }
  
  .section-block-padding-footer{
    padding: 0% 10%;
  }

  .max-section-size-footer{
    width: 100%;
    display: flex;
    flex-grow: 1;
  }

  .footer-heading{
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .footer-links{
    margin-top: 0.5em;
    font-size: 1.2em;
  }
  
  .specializations {
    margin-top: 0.5em;
    margin-right: 24px;
  }
  
  .specializations-link{
    color: white;
  }
  
  .specializations-link:hover{
    color: white;
    /* text-decoration: underline; */
  }

  .flex-col-2-specializations{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  .footer-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 114rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 114rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2rem;
  }

  .centered-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .display-medium{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
    width: auto;
    margin-bottom: 4px;
  }
  @media only screen and (max-width: 768px) {
    .footer-top.two-columns-on-tablet > .row > [class*="width-"] {
      width: 100% !important;
    }
    .mb-footer{
      display: none;
    }
    .mb-footer-bottom{
      display: flex;
      flex-direction: column;
      padding-top: 3%;
      padding-bottom: 3%;
      align-items: center;
    }
  }

  
/* Hamburger Menu */
.hamburger-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  /* display: none; */
  z-index: 1002; /* Ensure the hamburger is above the content */
}
.hamburger-line {
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: all 0.3s;
}


.right-align-container {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.ci--hamburger-md {
  display: inline-block;
  width: 40px;
  height: 40px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 17h14M5 12h14M5 7h14'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.link-list-container {
  display: flex;
}

/* Navbar */
.navbar-right {
  position: fixed;
  top: 0;
  /* right: -250px;  */
  /* right: -100px; */
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 40px;
  padding-right: 40px;
  transition: right 0.8s;
  z-index: 1001;
  overflow-y: auto;
  scrollbar-width: none;
  
}

.navbar-right ul {
  list-style: none;
  width: 100%;
  padding-left: 0;
}

.navbar-right ul li {
  width: 100%;
}

.navbar-right ul li a {
  display: block;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.navbar-right ul li a:hover {
  background-color: #555;
}

/* Page Content */
.main-content {
  margin-left: 0;
  transition: margin-left 0.3s;
  z-index: 999;
}

/* Active State for Hamburger and Navbar */
.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

.navbar-right.closed {
  right: -100%; 
  transition: right 0.8s;
  /* display: none; */
}

.main-content.shift {
  margin-left: 250px;  /* This pushes the content to the left */
}

@media screen and (max-width: 768px) {
  .hamburger {
      display: block;  /* Show hamburger menu on mobile */
  }
  
  /* Navbar should not be visible until hamburger is clicked */
  /* .navbar {
      right: -250px;
  } */
  
  .main-content.shift {
      margin-left: 0;
  }
}

/* Side nav GPT end */