ul.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.horizontal-list li {
  float: left;
  padding: 8px;
  margin-right: 20px;
  /* Adjust the spacing between list items */
}

ul.horizontal-list a {
  color: black;
}

ul.horizontal-list a:hover {
  color: #a4262c;
  padding-bottom: 4px;
  border-bottom: 2px solid;
  border-bottom-width: thick;
}

.secondary-nav {
  padding: 10px 0px;
  margin: 50px 0px 0px 0px;
  background-color: #f4f5f6;
  box-shadow: 0 8px 6px -6px black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background-color: white;
}

.feature-block {
  margin-top: 120px;
}

.sticky + .content {
  padding-top: 160px;
}

.support-link {
  text-decoration: underline;
}

.support-link:hover {
  color: #a4262c;
  text-decoration: underline;
}

.case-studies {
  background-color: #f4f5f6 !important;
}

.case-studies-article-container{
  padding: 5px 10px;
}

.case-studies-article{
  height: 590px !important;
  margin: 0px 10px;
}