.offerPage {
    width: 80%;
    margin: auto;
  }
  
  .slider-container {
    width: 100%;
  }
  
  .sliderImage{
      width: auto;
  }
  
  .sliderTitle{
      font-size: 3rem;
  }
  
  .slide{
      display: flex;
      flex-direction: row;
      column-gap: 2rem;
  }
  
  .slideContent{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .imageContainer{
      flex: 1;
  }
  
  .slideText{
      width: 90%;
      height: 90%;
  }
  
  .slideParent{
      display: block;
  }
  
  .slider-dots{
      margin-top: 4rem;
      text-align: center;
  }
  
  .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #888;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
  }
  
  .dot.active {
      background-color: #333;
  }
  
  .arrow{
      cursor: pointer;
  }
  
  .buttonContainer{
      margin-top: 3rem;
  }
  
  .upperRow{
      text-align: center;
  }
  
  .lowerRow{
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  
  .containerButton{
      margin: 1rem;
  }
  
  
  .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      column-gap: 50px;
      padding-top: 75px;
    }
  
  
  .MarketPlaceGrid{
      padding-left: 20px;
      position: relative;
  }
  
  .MarketPlaceGridLearnMore{
      position: absolute;
      bottom: 0;
      margin-bottom: 30px !important;
  }
  
  
  .MarketPlaceGridHeader{
      font-size: 20px;
      font-weight: bolder;
      color:black
  }
  
  .MarketPlaceGridSubject{
      font-size: 16px;
  }