:root {
    --white: #fff; 
    --MAQRed: #BA141A; 
    --MAQBlack: #212121; 
    --MAQGrey: #F0F0F0; 
    --StrokeGrey: #D9D9D9; 
    --DarkGrey: #616161; 
    --MAQLogoGrey: #58595B; 
    --LightGrey: #F7F7F7; 
}

/* Style for the slider container */ 
.products-slider-container {
    position: relative;
    overflow: hidden;
    height: 10%;
}

.img-placeholder{
    background-color: var(--MAQGrey);
    height: 100%;
}

/* .flex-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
} */

/* product filtering */


.filter-pane {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--StrokeGrey);
    border-radius: 4px;
}

.filter-btn:hover {
    background-color: var(--LightGrey);
}


.filter-btn.active {
    background-color: var(--MAQRed);
    color: white;
}
/*
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
*/

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--StrokeGrey);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.card h3{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em; 
    text-align: left;
}

.card .flex-row{
    margin-bottom: 0;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px 0;
}

.card span {
    font-size: 24px;
}

.chevron-link {
    text-decoration: none; /* Remove underline from the link */
}

.chevron {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 1px solid var(--MAQRed);
    border-bottom: 1px solid var(--MAQRed);
    transform: rotate(-45deg);
    margin: 5px;
}

.chevron-with-text{
    width: 5px;
    height: 5px;
}

