<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 aboutposter" data-background-img="/img/Banners/about.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">About Us</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- About Section -->
<section id="about" class="wow fadeIn pt-90 pb-50 ptb-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">We deliver innovative software</h3>
                <div class="spacer-15"></div>
                <p class="lead">Using the latest Agile engineering techniques in a disciplined manner, the company accelerates software initiatives that enable our customers to transform their industries.</p>
            </div>
        </div>
        
        <!-- Quote Section -->
        <section class="pb-30 pt-40 ptb-sm-80">
            <div class="container">
                
                <div class="row">
                    
                    <div class="blog-post col-md-8 offset-md-2 mb-30 text-center">
                        <blockquote style="max-width:745px;">We offer <b>cost effective services</b> and build <b>future ready</b> solutions</blockquote>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Quote Section -->
        
        <div class="row">
            <!-- Welcome Content -->
            <div class="col-md-8 mb-30">
                <h4>What Drives Us</h4>
                <div class="spacer-15"></div>
                <p>We specialize in Data Management and Reporting to help business users support their intuition with data. Our customers repeatedly tell us that based on the number of projects completed and volume of data processed using Azure Data Lake, COSMOS, Power BI and Azure, we are one of the most advanced suppliers at their company.</p>
                <p>MAQ Software has worked closely with marketing, operations, and product groups across Fortune 500 companies. More than 50,000 Product, Sales, and Marketing Managers around the globe use custom applications (both on-premise and Cloud hosted), Line-of-Business (LOB), and Data Analytics & Business Intelligence (BI) solutions created and managed by us.</p>
            </div>
            <!-- End Welcome Content -->

            <!-- Skills -->
            <div class="col-md-3 offset-md-1" style="padding-left:5%;">
                <h4>Focus Areas</h4>
                <ul style="margin-top:25px;">
                    <li>Data Management</li>
                    <li>Artificial Intelligence</li>
                    <li>Power BI</li>
                    <li>App Development</li>
                    <li>Cloud Transformation</li>
                    <li>Collaboration & Content</li>
                </ul>
            </div>
            <!-- End Skills -->
        </div>
    </div>
</section>

<hr />



<!-- Service -->
<section id="service" class="pt-90 pb-45 pb-sm-80 dark-bg parallax overlay-dark80" style="background-image: url('/img/Banners/agile.jpg');" data-stellar-background-ratio="0.5">
    <div class="wow fadeIn container text-center animated" style="visibility: visible; animation-name: fadeIn;">
        <h3>REDUCING CYCLE TIME USING AGILE AND DEVOPS MODEL</h3>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-gear-a"></i></div>
                <h5>Continuous Delivery</h5>
                <p>Releasing high quality software through build, deploy and test automation.</p>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-android-bicycle"></i></div>
                <h5>Faster</h5>
                <p>Distributed teams with unified processes to increase productivity for faster turnaround.</p>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-social-usd"></i></div>
                <h5>Cost Effective</h5>
                <p>Through skilled technical team and following disciplined engineering excellence practices.</p>
            </div>
            <div class="col-md-3 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-speakerphone"></i></div>
                <h5>Immediate Feedback</h5>
                <p>Incorporate changes using agile methodologies to give a competitive advantage.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Service -->
<hr />
<!-- Clients -->
<section id="clients" class="wow fadeIn pt-90 pb-60 pb-sm-80">
    <div class="container">
        <div class="row text-center">

            <div class="col-md-12 col-sm-10">
                <h3 class="h4">Why do our clients choose to work with us?</h3>
                <div class="spacer-15"></div>
            </div>
        </div>
        <div class="row  pt-30">
            <div class="col-md-4 col-sm-12 mb-30">
                <h4>Confidence in our delivery</h4>
                <ul>
                    <li>Responsiveness and accountability</li>
                    <li>Past delivery record</li>
                    <li>Continuous build process</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 mb-30">
                <h4>Reduced time to market</h4>
                <ul>
                    <li>Agile delivery methodology</li>
                    <li>Our technical expertise, business domain knowledge and ability to align with business processes</li>
                    <li>Willingness and ability to accommodate feedback</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 mb-30">
                <h4>Good quality</h4>
                <ul>
                    <li>Strong commitment to customer success</li>
                    <li>Complete visibility to project status and full transparency throughout delivery cycle</li>
                    <li>Use of the latest technologies</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->