<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 artificialintelligenceposter" data-background-img="/img/Banners/AI.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Artificial Intelligence</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<section id="artificialintelligence" class="wow fadeIn pt-90 pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">Intelligent software that observes, analyzes, learns, and assists</h3>
                <div class="spacer-15"></div>
                <p class="lead">AI expands business capabilities, allowing you to cut costs, gain insights, and improve productivity. It eliminates routine tasks, continually improving processes, and allowing you to focus on creativity and growth. Below are ways AI can help you.</p>
            </div>
        </div>
        <div class="row ptb-60 ptb-sm-80">
            <div class="wow fadeInLeft pt-30 col-md-3  pt-sm-0" style="padding-left:0px; padding-right:0px;">
                <div class="features-box-right">
                    <div class="row dotRow">
                        <div class="col-md-10 offset-md-1 dotNextBox">
                            <h5>Predictive Analytics</h5>
                            <p>Propensity to convert a customer from trial to paid</p>
                        </div>
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot1.png">
                        </div>
                    </div>
                </div>
                <div class="features-box-right">
                    <div class="row dotRow">
                        <div class="col-md-10 offset-md-1 dotNextBox">
                            <h5>Recommendation Analytics</h5>
                            <p>Propensity of a customer to buy a particular product</p>
                        </div>
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot2.png">
                        </div>
                    </div>
                </div>
                <div class="features-box-right">
                    <div class="row dotRow">
                        <div class="col-md-10 offset-md-1 dotNextBox">
                            <h5>Intelligent Applications</h5>
                            <p>Support ticket prioritization &nbsp; &nbsp; &nbsp; &nbsp;</p>
                        </div>
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot3.png">
                        </div>
                    </div>
                    
                </div>
                <div class="features-box-right">
                    <div class="row dotRow">
                        <div class="col-md-10  offset-md-1 dotNextBox">
                            <h5>Smart Bot Framework</h5>
                            <p>Voice-enabled training bot &nbsp; &nbsp; &nbsp; &nbsp;</p>
                        </div>
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot4.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="wow fadeIn col-md-6 text-center hidden-sm" style="padding-left:0px; padding-right:0px;">
                <img src="/img/Graphics/ai-circle.png" title="Artificial Intelligence" alt="Artificial Intelligence" />
            </div>
            <div class="wow fadeInRight col-md-3 pt-30 pt-sm-0" style="padding-left:0px; padding-right:0px; margin-bottom:10px;">
                <div class="features-box-left">
                    <div class="row dotRow">
                        
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot5.png">
                        </div>
                        <div class="col-md-10 dotNextBox">
                            <h5>Text Based Analytics</h5>
                            <p>Email sentiment analysis</p>
                        </div>
                    </div>
                </div>
                <div class="features-box-left">
                    <div class="row dotRow">
                        
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot6.png">
                        </div>
                        <div class="col-md-10 dotNextBox">
                            <h5>Cognitive APIs</h5>
                            <p>Face recognition</p>
                        </div>
                    </div>
                </div>
                <div class="features-box-left">
                    <div class="row dotRow">
                        
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot8.png">
                        </div>
                        <div class="col-md-10 dotNextBox">
                            <h5>Media Analytics</h5>
                            <p>Video insights</p>
                        </div>
                    </div>
                </div>
                <div class="features-box-left">
                    <div class="row dotRow">
                        
                        <div class="col-md-1 dotBox">    
                            <img class="dot" src="/img/artificialintelligence/dot7.png">
                        </div>
                        <div class="col-md-10 dotNextBox">
                            <h5>Speech Recognition</h5>
                            <p>Voice-enabled data search</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tech-logos" class="wow fadeIn pb-90 ptb-sm-80">
    <div class="container">
        <div class="owl-carousel ai-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <img title="Bot Framework" src="/img/artificialintelligence/Slider/bot-framework.svg" alt="Bot Framework" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img title="Cognitive Services" src="/img/artificialintelligence/Slider/cognitive-services.svg" alt="Cognitive Services" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img title="Data Lake Analytics" src="/img/artificialintelligence/Slider/data-lake-analytics.svg" alt="Data Lake Analytics" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img title="Machine Learning" src="/img/artificialintelligence/Slider/machine-learning.svg" alt="Machine Learning" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img title="Stream Analytics" src="/img/artificialintelligence/Slider/stream-analytics.svg" alt="Stream Analytics" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
