<!-- Intro Section -->
<!-- Intro Video Section -->
<!--<div id="video" class="ytp-player" data-property="{videoURL:'https://www.youtube.com/v/mgyfCETF1lA',containment:'#intro', showControls:true, autoPlay:true, loop:true, mute:true, startAt:1, opacity:1, addRaster:false, quality:'default'}"></div>
-->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="/img/Banners/career.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Careers</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Overview -->
<section id="careers" class="wow fadeIn pt-90 pt-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row pb-30">
                    <div class="col-md-12 text-center">
                        <iframe id="video-player" width="912" height="513" src="https://www.youtube.com/embed/FRk-5V0MfkE?autoplay=1&cc_load_policy=1&color=white&loop=1&mute=1&rel=0&controls=2&enablejsapi=1&fs=0&showinfo=0" frameborder="0" allowfullscreen autoplay="1" color="white" loop="1" rel="0"></iframe>
                    </div>
                </div>
                <div class="row text-center pb-60 pt-10">
                    <div class="col-md-12 ">
                        <h3 class="h4">Why do A-players choose to work with us?</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">All of us hold Computer Science and Engineering degrees from top universities in the US and in India. Many staff members have earned advanced degrees in Computer Science and management. In addition, we complete required Microsoft and Amazon Web Services certifications every year to stay technically proficient. Our company has the highest density in the industry of Agile Certified Practitioners (ACP) by Project Management Institute (PMI).</p>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Professional Growth</h4>
                            <ul>
                                <li>Substantial responsibilities at an early stage of the career</li>
                                <li>Exposure to all aspects of delivery lifecycle and project management</li>
                                <li>Continuous learning</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Type of work</h4>
                            <ul>
                                <li>Exciting and challenging work</li>
                                <li>Exposure to the latest and variety of technologies</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Company culture</h4>
                            <ul>
                                <li>Transparency, lack of bureaucracy</li>
                                <li>Ownership and accountability</li>
                                <li>Autonomy (with seniority)</li>
                                <li>Peers with strong technical background</li>
                                <li>Supportive managers with technical know-how</li>
                                <li>There is never a dull moment (fast paced work)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pr-0">
                    <div class="row contact">
                        <h4>Contact Information</h4>
                    </div>
                    <div class="row pb-15 contact">
                        For positions in Redmond,<br>
                        E-mail your resume to </br>
                        <!--<a href="mailto:RedmondJobs@MAQSoftware.com"> RedmondJobs@MAQSoftware.com</a>-->
                        
                        <a href="mailto:RedmondJobs@MAQSoftware.com">
                            <i class="fa fa-envelope-o left"></i>RedmondJobs at MAQSoftware dot com
                        </a>
                    </div>
                    <div class="row contact">
                        For positions in India,</br>
                        E-mail your resume to </br>
                        <!--<a href="mailto:IndiaJobs@MAQSoftware.com"> IndiaJobs@MAQSoftware.com</a>-->
                        
                        <a href="mailto:IndiaJobs@MAQSoftware.com">
                            <i class="fa fa-envelope-o left"></i>IndiaJobs at MAQSoftware dot com
                        </a>
                    </div>
                </div>
            </div>
            <div class="row pt-50 col-md-12">
                <div class="col-md-5 offset-md-1 pt-30">
                    <p class="lead text-left">
                        If you are offered a position with our company, we
                        will provide you copies of <a href="http://www.iitbook.in/" target="_blank"><i>What I Did Not Learn at IIT</i></a> and <a href="https://mbabook.in/" target="_blank"><i>What I Did Not Learn in B-School</i></a>.
                        Many successful candidates found these two books useful in understanding our customers’ expectations,
                        our work, and our point of view. We advise you to not accept our position unless you have reviewed the books.
                    </p>
                </div>
                <div class="col-md-5 offset-md-1 text-center">
                    <div class="row">
                        <div class="col-md">
                            <a href="http://www.iitbook.in/" target="_blank"><img src="/img/Careers/iitbook-careers.png" width="200" title="What I Did Not Learn at IIT" alt="What I Did Not Learn at IIT" /></br>IITbook.in</a>
                        </div>
                        <div class="col-md">
                            <a href="https://www.mbabook.in/" target="_blank"><img src="/img/Careers/mbabook-careers.png" width="200" tite="What I Did Not Learn in B-School" alt="What I Did Not Learn in B-School" /></br>MBAbook.in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Job Section -->
<section class="ptb-40 ptb-sm-80">
    <div class="container">

        <div id="tabs" class="b-lrb-none" data-career-tabs>
            <ul class="nav nav-tabs">
                <li class="nav active"><a class="nav-link active" data-toggle="tab" href="#tabs-1" target="_self">Redmond</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-2" target="_self">India</a></li>
            </ul>
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane fade in active">
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Programmer Analyst</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Programmer Analyst will be required to:
                                </p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>Analyze, develop and write codes to implement system applications</li>
                                    <li>
                                        Additionally, will assist in providing software support to projects that include programming, testing, debugging, and modifying software to meet
                                        customer specifications
                                    </li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>Requires Bachelor’s Degree or foreign equivalent in Computer Science, Computer Applications, Computer Information Systems, Electrical/Electronic Engineering or related field with 2 years of work experience in job offered, software engineer, system analyst or related work</li>
                                </ul>
                                <p class="DataSubContent">
                                    May require travel to client sites within the U.S. with expenses paid by employer and or relocate throughout the U.S.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Send resume to  2027 152nd Avenue NE, Redmond, WA 98052, Attn: H.R. Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Program Manager</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>
                                        Managing and working closely with the development and test team to help define the
                                        requirements and feature sets
                                    </li>
                                    <li>
                                        Analyzing customer data, gathering feedback and ensuring that the product meets
                                        user requirements
                                    </li>
                                    <li>
                                        Supporting multiple release schedules throughout the project while handling all
                                        PM
                                        daily tasks
                                    </li>
                                </ul>
                                <p class="DataSubContent">
                                    We are looking for an experienced and highly motivated Project Manager, with broad
                                    experience in e-commerce based and/or smart client products, solid technical skills,
                                    excellent communication skills, and a track record of shipping great products. Not
                                    only
                                    will this position require taking on a critical role on a high-performance team
                                    but you will
                                    help to develop an industry altering product with over a million hits a day.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>3 to 5 years as a Project Manager with strong leadership skills</li>
                                    <li>Bachelor's or equivalent degree in related field desired</li>
                                    <li>
                                        Strong understanding of Project Management and the ability to handle multiple
                                        projects and challenges
                                    </li>
                                    <li>
                                        Strong technical background in .NET and Microsoft platform with the ability to
                                        develop specifications and partner with development and test teams
                                    </li>
                                    <li>
                                        Excellent communication skills, both verbal and written, with an ability to communicate
                                        difficult technical and business concepts to both technical and non-technical users
                                    </li>
                                    <li>Previous Microsoft experience is a plus</li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 2027 152nd Avenue NE, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>

                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Content Editor</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>
                                        Website Editing: Utilize knowledge of web architecture, user interface design, MS
                                        editorial standards, and web publishing practices to build and implement new content
                                        areas/site features/graphics, individually or in conjunction with other development
                                        resources
                                    </li>
                                    <li>
                                        Editing and proofing submitted content and ensuring compliance with corporate style
                                        and legal guidelines
                                    </li>
                                    <li>
                                        Utilize knowledge of web architecture to spec out and implement small content
                                        areas/site features, individually or in conjunction with development resources
                                    </li>
                                </ul>
                                <p class="DataSubContent">
                                    We are seeking long-term contractor(s) to manage customer Internet sites for a large
                                    Redmond software company. The website Producer/Editor will help develop and manage
                                    content. This position is ideal for a strong website editor and content developer
                                    with
                                    previous experience interfacing with MSCOM and SharePoint.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>One year minimum experience writing or producing web content required</li>
                                    <li>
                                        Two years minimum editorial/writing experience and demonstrated knowledge of
                                        grammar, spelling and style required
                                    </li>
                                    <li>Hands-on experience with HTML required. XML knowledge is useful </li>
                                    <li>Knowledge of website architecture and user interface principles a plus </li>
                                    <li>
                                        Knowledge of the MS server platform and general knowledge of Microsoft
                                        environment a plus
                                    </li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 2027 152nd Avenue NE, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Systems Engineer</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>Maintain and support IT systems based on Windows 10, Windows Server 2012 R2, SQL Server 2016, and .NET technology</li>
                                    <li>Key areas of expertise will include IIS website management in production, Active Directory, security, server monitoring, and network infrastructure</li>
                                    <li>Provide technical engineering support for the implementation, integration, and evolution of complex systems architectures</li>
                                    <li>Design and maintain Internet services support strategies</li>
                                    <li>
                                        Provide systems statistical trending and analysis, server capacity and threshold testing, systems documentation maintenance,
                                        and the analysis and evaluation of new systems designs and technical strategies
                                    </li>
                                    <li>Troubleshoot complex issues, identify root causes and develop mitigation options</li>
                                    <li>Provide operations and production support to ensure continuous availability of systems</li>
                                    <li>Utilize best practices to continually evaluate system performance for possible areas of improvement</li>
                                    <li>Disaster recovery, automate backups, security analysis, and systems reviews</li>
                                    <li>Create on-going documentation of the environments as they evolve</li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>A minimum of two-three years experience in supporting Windows Servers in a Microsoft platform based data center environment</li>
                                    <li>Working knowledge of Active Directory, XML, .NET Framework, TCP/IP, and SQL Server</li>
                                    <li>Knowledge of application hosting and support including basic security concepts</li>
                                    <li>Strong interpersonal and communications skills</li>
                                    <li>Bachelor's or equivalent degree in related field desired</li>
                                    <li>Current Microsoft Certified System Engineer (MCSE) required</li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 2027 152nd Avenue NE, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Development Operations Engineer</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    MAQ LLC dba MAQ Software has openings for Development Operations Engineer at its office in Redmond, WA.
                                </p>
                                <p class="DataSubContent">
                                    Will be responsible for software architecture, development, testing and integration with web and database servers. Develop software to automate deployment and server infrastructure management. Automate test cases, debug and fix errors in server applications and infrastructure.
                                </p>
                                <p class="DataSubContent">
                                    Requires Master’s Degree or foreign equivalent in Computer Science, Computer Engineering, Management Information Systems or related IT field. Must be able to travel temporarily to client sites and /or relocate throughout the U.S.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Send resume to 2027 152nd Avenue NE, Redmond, WA 98052, Attn: H.R. Manager.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabs-2" class="tab-pane fade">
                    <!-- Accordion -->
                    <div class="accordion LoadingHeight Loading">

                    </div>
                    <!-- End Accordion -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Job Section -->
