<html>
<head>
    <script src="https://cdn.botframework.com/botframework-webchat/0.14.1/botchat-es5.js"></script>
    <link href="/css/bot.css" type="text/css"/>
    </head>
<body>
    <script>
    botConnection = new BotChat.DirectLine(
    {
        token: 'YHGK3Pm0iA8.cwA.Lmg.Yhhz3nbNnvKxjRN9h7mfFD-xC80yrwSFPh3Ozywp9Hc',
    webSocket: false
    });

    BotChat.App(
    {
    botConnection: botConnection,
    user: { id: "User" },
    bot: { id: 'mdhwTAQ1|)}kycVKCC7349$' },
    resize: 'detect'
    },
    document.getElementById("botContainer"));
    </script>

    <div id="botContainer"></div>
    </body>
</html>