<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 cloudtransformationposter" data-background-img="/img/Banners/cloud.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Cloud Transformation</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<!--<section id="cloudtransformation" class="wow fadeIn pt pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">We Creative digital Studio</h3>
                <div class="spacer-15"></div>
                <p class="lead">Integer tincidunt Cras dapibus. <a class="tipped" data-title="Sample Text" data-tipper-options='{"direction":"top"}'><b>Vivamus elementum</b></a> ultricies nisi vel augue. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante dapibus.</p>
            </div>
        </div>
    </div>
</section>
<section class="pt pb-40 ptb-sm-80">
    <div class="container">
        <img style="margin-left:20px;" src="/img/Graphics/ai_graphic.png" alt="Cloud Transformation">
    </div>
</section>-->
<section id="cloudtransformation" class="wow fadeIn pt-90 pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">We are pioneers in Azure applications and cloud solutions</h3>
                <div class="spacer-15"></div>
                <p class="lead">We have been developing applications on Azure since it was released in 2010. We can help you optimize and manage your cloud solutions, reducing the amount of time required to manage, maintain, and deploy your data. Below are some of our cloud services.</p>
            </div>
        </div>
        <div class="row ptb-60 ptb-sm-80">
            <div class="wow fadeInLeft pt-80 col-md-3  pt-sm-0" style="padding-left:0px; padding-right:0px;">
                <div class="features-box-right">
                    <div class="row dotRow">
                        <div class="col-md-10 dotNextBox">
                            <h5>CUSTOM APPLICATIONS</h5>
                            <p>Low cost strategy and high availability</p>
                        </div>
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot2.png">
                        </div>
                    </div>
                    
                </div>
                <div class="features-box-right">
                    <div class="row dotRow">
                        <div class="col-md-10 dotNextBox">
                            <h5>MIGRATE TO AZURE</h5>
                            <p>Migrate existing applications</p>
                        </div>
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot3.png">
                        </div>
                    </div>
                    
                </div>
                <div class="features-box-right">
                    <div class="row dotRow">
                        <div class="col-md-10 dotNextBox">
                            <h5>TRANSITION APPLICATIONS</h5>
                            <p>Revamp existing apps for Azure</p>
                        </div>
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot4.png">
                        </div>
                    </div>
                    
                </div>

            </div>
            <div class="wow fadeIn col-md-6 text-center hidden-sm" style="padding-left:0px; padding-right:0px; margin-bottom:10px;">
                <img src="/img/Graphics/cloud-circle.png" title="Cloud Transformation" alt="Cloud Transformation" />
            </div>
            <div class="wow fadeInRight col-md-3 pt-80 pt-sm-0" style="padding-left:0px; padding-right:0px;">
                <div class="features-box-left">
                    <div class="row dotRow">
                        
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot5.png">
                        </div>
                        <div class="col-md-10 dotNextBox">
                            <h5>AZURE MAINTENANCE</h5>
                            <p>Upgrade and maintain applications on Azure</p>
                        </div>
                    </div>
                </div>
                <div class="features-box-left">
                    <div class="row dotRow">
                        
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot6.png">
                        </div>
                        <div class="col-md-10 dotNextBox">
                            <h5>OPTIMIZATION</h5>
                            <p>Allow faster user access</p>
                        </div>
                    </div>
                </div>
                <div class="features-box-left">
                    <div class="row dotRow">
                        
                        <div class="col-md-1 dotBox">
                            <img class="dot" src="/img/artificialintelligence/dot8.png">
                        </div>
                        <div class="col-md-10 dotNextBox">
                            <h5>INDUSTRY COMPLIANCE</h5>
                            <p>Comply with latest industry standards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tech-logos" class="wow fadeIn pb-90 ptb-sm-80">
    <div class="container text-center">
            <div class="item" style="display:inline-block;">
                <div class="client-logo" >
                    <img title="Amazon Web Services" src="/img/Cloud Transformation/Slider/aws.png" alt="Amazon Web Services" /></a>
                </div>
            </div>
           
            <div class="item" style="display:inline-block;">
                <div class="client-logo" >
                    <img title="Microsoft Azure" src="/img/Cloud Transformation/Slider/azure.png" alt="Microsoft Azure" /></a>
                </div>
            </div>
            
        
    </div>
</section>