<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 collaborationcontentposter" data-background-img="/img/Banners/collab.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Collaboration & Content</h2>
        </div>
    </div>
</section>
<!-- End Intro Section -->
<section id="collaborationcontent" class="wow fadeIn pt-90 pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">Fast paced SharePoint content migration, development, and testing</h3>
                <div class="spacer-15"></div>
                <p class="lead">We have delivered over 100 SharePoint projects. Our large team has worked successfully with various business groups, supporting them during the entire application development, deployment, and maintenance process. Below are some of our offerings.</p>
            </div>
        </div>
    </div>
</section>
<section class="pt-40 pb-90 ptb-sm-80">
    <div class="container" style="max-width:800px;">

        <div id="tabs" class="tabs b-lrb-none" data-career-tabs>

            <ul class="nav nav-tabs">
                <li class="nav active"><a class="nav-link active" data-toggle="tab" href="#tabs-1" target="_self">SharePoint On-Premise</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-2" target="_self">Office 365 & SharePoint Online</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-3" target="_self">Services</a></li>

            </ul>
            <div class="tab-content">
                <!--SharePoint On-Premise-->
                <div id="tabs-1" class="tab-pane fade in active">
                    <div class="row mt-30">
                        <div class="col-md-4">
                            <div class="row tabHeader-2">
                                <div class= "col-md-12">
                                        <h4 class="blurbH">In-House Solutions</h4>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-12">
                                        <p class="blurb">We can help you take your on-premise SharePoint implementation to the next level.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row tabHeader-2">
                                <div class= "col-md-7">
                                        <h5>Our Expertise</h5>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-6">
                                    <ul class="CircleBullets">
                                            <li>70-488, 70-331, and 70-332 Microsoft certified team of developers and administrators.</li>
                                            <li>Experts in Web Content Management and search features.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="CircleBullets">
                                            <li>Delivery of projects leveraging the latest SharePoint offerings including cross site publishing, Web Content Management, Display Templates, and Content Search Web parts.</li>
                                            <li>Developed SharePoint apps available for download on <a href="https://store.office.com/en-001/provider.aspx?assetid=PN103576282&ui=en-US&rs=en-001&ad=US&providerredirect=false" target="_blank">Office Store</a>.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!--End SharePoint On-Premise-->
                <!--Office 365 & SharePoint Online-->
                <div id="tabs-2" class="tab-pane fade">
                    <div class="row mt-30">
                        <div class="col-md-4">
                            <div class="row tabHeader-2">
                                <div class= "col-md-12">
                                        <h4 class="blurbH">Online Solutions</h4>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-12">
                                        <p class="blurb">We will help you develop a custom SharePoint Online implementation allowing you to collaborate anywhere on any device.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row tabHeader-2">
                                <div class= "col-md-7">
                                        <h5>Online Experience</h5>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-6">
                                    <ul class="CircleBullets">
                                            <li>We have delivered many SharePoint Online projects and can tailor our experience to fit your custom needs.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="CircleBullets">
                                            <li>We develop Windows store apps and mobile apps leveraging integration with SharePoint Online.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Office 365 & End SharePoint Online-->
                <!--Services-->
                <div id="tabs-3" class="tab-pane fade">
                    <div class="row mt-30">
                        <div class="col-md-4">
                            <div class="row tabHeader-3">
                                <div class= "col-md-12">
                                        <h4 class="blurbH">Sharepoint Maintenance</h4>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-12">
                                        <p class="blurb">We can help you maintain, migrate, and improve your existing SharePoint site.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row tabHeader-3">
                                <div class= "col-md-7">
                                        <h5>Some of Our Maintenance Services</h5>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-6">
                                    <ul class="CircleBullets">
                                            <li>Branding SharePoint sites.</li>
                                            <li>Improving content management by developing portals for users to access information.</li>
                                            <li>Improving collaboration by designing and developing efficient authoring, publishing, and approval workflows.</li>
                                            <li>Implementing frameworks for previewing, authoring, rendering, and publishing content (e.g. Content Services Platform).</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="CircleBullets">
                                            <li>Migrating to the latest SharePoint 2016 from previous versions of Microsoft SharePoint Server.</li>
                                            <li>Developing SharePoint Line of Business Apps.</li>
                                            <li>Hosting on corporate infrastructure to enable self-management with limited support from IT teams.</li>
                                            <li>Integrating Active Directory Federation Service for single click log on.</li>
                                            <li>Creating and deploying custom web parts for specific business requirements.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Services-->
            </div>
        </div>
    </div>
</section>
<section id="tech-logos" class="wow fadeIn pb-90 ptb-sm-80">
    <div class="container text-center">
            <div class="item" style="display:inline-block;">
                <div class="client-logo" >
                    <img title="Office 365" src="/img/collaborationContent/Slider/office365.png" alt="Office365" /></a>
                </div>
            </div>
            <div class="item" style="display:inline-block;">
                <div class="client-logo" >
                    <img title="Sharepoint" src="/img/collaborationContent/Slider/sharepoint.png" alt="Sharepoint" /></a>
                </div>
            </div>
            <div class="item" style="display:inline-block;">
                <div class="client-logo" >
                    <img title="Sharepoint Online" src="/img/collaborationContent/Slider/sharepoint-online.png" alt="Sharepoint Online" /></a>
                </div>
            </div>
            
        
    </div>
</section>