<!-- Intro Section -->
<section class="inner-intro bg-image overlay-dark dark-bg parallax parallax-background1 contactposter" data-background-img="/img/Banners/contact.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Contact Us</h2>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->
<!-- Contact Section -->
<section class="pt-90 pb-35 ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Get in touch</h3>
                <p class="lead">
                    To facilitate interactions with our key clients, our offices are conveniently located within a few miles of their facilities in the US and in India.
                    Our company provides free parking in all our locations.
                </p>
            </div>
        </div>
        <div class="spacer-45"></div>
        <div id="Addresses">
            <!-- Email -->
            <div class="row" style="height: 80px;">
                <div class="col-md-4 contact"></div>
                <div class="col-md-4 contact text-center">
                    Email:
                    <!--<a href="mailto:sales@MAQSoftware.com"><i class="fa fa-envelope-o left"></i>sales@maqsoftware.com</a>-->
                    <a href="mailto:sales@MAQSoftware.com">
                        <i class="fa fa-envelope-o left"></i>Sales at MAQSoftware dot com
                    </a>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <!-- Details -->
            <div class="row" style="padding-left:8%;">
                <!--Redmond-->
                <div class="col-md-4 contact">
                    <div class="contact-box-left mb-10">
                        <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                        <h6 class="size-15">Redmond</h6>
                        <a class="btn-link-a VwMap viLinks ls-point01em" data-name="Redmond">View map</a>
                        <p>
                            <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=MAQ Software Redmond WA">
                                2027 152nd Avenue NE,<br />
                                Redmond, WA 98052
                            </a>
                        </p>

                    </div>
                    <div class="contact-box-left mb-45">
                        <a class="black" href="tel:+1 425 526 5399"><i class="fa fa-phone left"></i>+1 425 526 5399</a>
                    </div>
                </div>
                <!--Hyderabad-->
                <div class="col-md-4 contact">
                    <div class="contact-box-left mb-10">
                        <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                        <h6 class="size-15">Hyderabad</h6>
                        <a class="btn-link-a VwMap viLinks ls-point01em" data-name="Hyderabad">View map</a>
                        <p>
                            <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=MAQ Software Hyderabad India">
                                Level 7, Astro, aVance Business Hub<br />
                                Behind Dell Campus<br />
                                HITEC City 2, Madhapur<br />
                                Hyderabad 500 081
                            </a>
                        </p>

                    </div>
                    <div class="contact-box-left mb-45">
                        <a class="black" href="tel:+91 40 4010 0570"><i class="fa fa-phone left"></i>+91 40 4010 0570</a>
                    </div>
                </div>
                <!--Mumbai-->
                <div class="col-md-4 contact">
                    <div class="contact-box-left mb-10">
                        <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                        <h6 class="size-15">Mumbai</h6>
                        <a class="btn-link-a VwMap viLinks ls-point01em" data-name="Mumbai">View map</a>
                        <p>
                            <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=MAQ Software Andheri">
                                201, Meadows Building<br />
                                Sahar Plaza on Andheri Kurla Road
                                Andheri East<br />
                                Mumbai 400 059
                            </a>
                        </p>
                    </div>
                    <div class="contact-box-left mb-45">
                        <a class="black" href="tel:+91 908 256 1327"><i class="fa fa-phone left"></i>+91 908 256 1327</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<!-- Map Section -->
<div class="" id="map"></div>
