<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 datamanagementposter" data-background-img="/img/Banners/data.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Data Management</h2>
        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Team -->
<section id="datamanagement" class="wow fadeIn pt-90 pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4 ls-point01em">Data analysis, data warehousing, campaign management, website optimization, and Azure data lake</h3>
                <div class="spacer-15"></div>
                <p class="lead">We deliver data management solutions including multiple database applications for Fortune 500 companies, using data from a range of sales and marketing databases. Below are just a few of our capabilities.</p>
            </div>
        </div>
    </div>
</section>
<!--content Section-->
<section class="pt-40 pb-90 ptb-sm-80">
    <div class="container" style="max-width:800px;">
        <div id="tabs" class="tabs b-lrb-none" data-datamanagement-tabs>
            <ul class="nav nav-tabs">
                <li class="nav active" ><a class="nav-link active" data-toggle="tab" href="#tabs-1" target="_self">Data Analysis</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-2" target="_self">Data Warehousing</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-3" target="_self">Marketing</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-4" target="_self">Optimization</a></li>                
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-5" target="_self">Azure Data Lake</a></li>
            </ul>
            <div class="tab-content">
                <!-- Data Analysis-->
                <div id="tabs-1" class="tab-pane fade in active">
                    <div class="row mt-30">
                        <div class="col-md-4">
                            <div class="row tabHeader-2">
                                <div class= "col-md-12">
                                    <h4 class="blurbH">Data Analytics Experts</h4>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-12">
                                    <p class="blurb">We have delivered reporting and insights for many Fortune 500 companies, including insights on over 400 TB of daily data for a chain of hi-tech vendor retail stores.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row tabHeader-2">
                                <div class= "col-md-7">
                                    <h5>Cleanse & Transform Your Data</h5>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-6">
                                    <ul class="CircleBullets">
                                        <li>Segment, personalize, and pattern behaviors.</li>
                                        <li>Multi-campaign attributions and multi-channel analytics.</li>
                                        
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="CircleBullets">
                                        <li>Competitive intelligence analysis.</li>
                                        <li>Real-time data processing to provide immediate insights on productivity suite product usage.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Data Analysis-->
                <!-- Data Warehousing-->
                <div id="tabs-2" class="tab-pane fade">
                    <div class="row mt-30">
                        <div class="col-md-4">
                            <div class="row tabHeader-2">
                                <div class= "col-md-12">
                                    <h4 class="blurbH">Managed Storage</h4>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-12">
                                    <p class="blurb">We can help you manage your data storage and processing needs to help you define your business and make confident decisions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row tabHeader-2">
                                <div class= "col-md-7">
                                    <h5>Deeper Insights</h5>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-6">
                                    <ul class="CircleBullets">
                                        <li>Design, build, and maintain ETL packages, data marts, and OLAP cubes.</li>
                                        <li>Data mining and predictive analysis.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="CircleBullets">
                                        <li>Recommended storage options (SQL Database, Azure Data Lake, Cube) based on data classification (High Business Impact, Medium Business Impact and Low Business Impact).</li>
                                        <li>Process ~400TB of data daily (Retail Store Telemetry).</a></li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Data Warehousing-->
                <!-- Marketing-->
                <div id="tabs-3" class="tab-pane fade ">
                    <div class="row mt-30">
                        <div class="col-md-4">
                            <div class="row tabHeader-2">
                                <div class= "col-md-12">
                                    <h4 class="blurbH">Customer Insights</h4>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-12">
                                    <p class="blurb">We provide marketing campaign setup, reporting, and analysis to offer organizations deeper insights into their customers’ needs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row tabHeader-2">
                                <div class= "col-md-7">
                                    <h5>Leverage Your Data</h5>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-6">
                                    <ul class="CircleBullets">
                                        <li>Plan and setup integrated infrastructure for your campaigns.</li>
                                        <li>Analyze web traffic data beyond traditional click stream reports.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="CircleBullets">
                                        <li>Offer actionable metrics, benchmarking, and visualization.</li>
                                        <li>Apply complex financial and marketing rules to produce data insights.</li>                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Marketing-->
                <!-- Optimization-->
                <div id="tabs-4" class="tab-pane fade">
                    <div class="row mt-30">
                        <div class="col-md-4">
                            <div class="row tabHeader-2">
                                <div class= "col-md-12">
                                    <h4 class="blurbH">Cost Efficiency</h4>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-12">
                                    <p class="blurb">We can help you reduce data costs, reduce latency, and optimize your site structure.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row tabHeader-2">
                                <div class= "col-md-7">
                                    <h5>Operate Efficiently</h5>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-6">
                                    <ul class="CircleBullets">
                                        <li>Controlled experiments leveraging A/B and multivariate testing.</li>
                                        <li>Optimize site structure and information architecture.</li>
                                        <li>Develop and conduct user surveys, site usability, and user experience analysis.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="CircleBullets">
                                        <li>Reduce Azure VM cost using a custom framework to track and monitor resources.</li>
                                        <li>Reduce refresh latency with job scheduling, hierarchy queues, Just-In-Time scheduling.</li>                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Optimization-->
                
                <!-- Azure Data Lake-->
                <div id="tabs-5" class="tab-pane fade">
                    <div class="row mt-30">
                        <div class="col-md-4">
                            <div class="row tabHeader-3">
                                <div class= "col-md-12">
                                    <h4 class="blurbH">Creative Data Lake Solutions</h4>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class= "col-md-12">
                                    <p class="blurb">We are experts in Azure Data Lake implementation and optimization. The following are examples of our work with Azure Data Lake.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row tabHeader-3">
                                <div class= "col-md-12">
                                        <h5>Render Data to HTML5 Report</h5>
                                </div>
                            </div>
                            <div class="row tabContent-216">
                                <div class= "col-md-12">
                                    <ul class="CircleBullets">
                                            <li>We use U-SQL based queries and Azure Data Lake API to surface data from Azure Data Lake on rich HTML5 visuals.</li>
                                            <li>We achieve page load time (PLT) of ~10-15 seconds through Azure Data Lake query optimization.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row tabHeader-2">
                                <div class= "col-md-12">
                                        <h5>Data Manipulation</h5>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class="col-md-12">
                                    <ul class="CircleBullets">
                                            <li>We create custom reducers which enhance the out of box Azure Data Lake operators to perform complicated business logic.</li>
                                            <li>With reducers, we can use advanced C# methods to achieve data manipulations.</li>                             
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class= "col-md-4">   
                            <div class="row tabHeader-3">
                                <div class= "col-md-12 ">
                                    <h5>Real Time Power BI Reports</h5>
                                </div>
                            </div>
                            <div class="row tabContent-216">
                                <div class= "col-md-12">
                                    <ul class="CircleBullets">
                                            <li>We use Azure Data Lake Export API and Power BI REST API to push latest data from Azure Data Lake to Power BI datasets.</li>
                                            <li>Set up continuous-poll or scheduled refresh.</li>  
                                    </ul>
                                </div>
                            </div>
                            <div class="row tabHeader-2">
                                <div class= "col-md-12">
                                        <h5>Secure Sensitive Data</h5>
                                </div>
                            </div>
                            <div class="row tabContent">
                                <div class="col-md-12">
                                    <ul class="CircleBullets">
                                            <li>We use a custom Rijndael based encryption utility to secure PII data at rest on Azure Data Lake or during processing on Azure Data Lake.</li>                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- End Azure Data Lake-->
                </div>
            </div>
        </div>
    </div>
</section>
<section id="client-logos" class="wow fadeIn pb-90 ptb-sm-80">
    <div class="container">
        <div class="owl-carousel ai-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <img title="SQL Server Business Intelligence" src="/img/datamanagement/sqlserver.png" alt="SQL Server Business Intelligence" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img title="Azure Cosmos DB" src="/img/datamanagement/cosmos.png" alt="Azure Cosmos DB" /></a>
                </div>
            </div>
            
            <div class="item">
                <div class="client-logo">
                    <img title="Amazon Redshift Business Intelligence" src="/img/datamanagement/redshift.png" alt="Amazon Redshift Business Intelligence" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img title="Oracle Business Intelligence" src="/img/datamanagement/oracle.png" alt="Oracle Business Intelligence" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img title="MySQL Business Intelligence" src="/img/datamanagement/mysql.png" alt="MySQL Business Intelligence" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team -->