<!-- Intro Section -->
<section class="home-slider dark-bg" style="padding-top:64px;">
    <div class="owl-carousel fullwidth-slider white content-carousel content-slider o-flow-hidden">
        <div class="item bg-img parallax parallax-background1" style="background-image: url('/img/Banners/data.jpg');">
            <!-- Content -->
            <div class="full-cap-wraper overlay-dark light-color ">
                <div class="content-caption light-color">
                    <div class="container">
                        <h2 class="h2">Data Management</h2>
                        <h3 class="h4">Optimized data warehouse, customized reports, dashboards, faster and better decision making</h3>
                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <div class="item bg-img parallax parallax-background1" style="background-image: url('/img/Banners/AI.jpg');">
            <!-- Content -->
            <div class="full-cap-wraper overlay-dark light-color ">
                <div class="content-caption light-color">
                    <div class="container">
                        <h2 class="h2">Artificial Intelligence</h2>
                        <h3 class="h4">Use cutting edge technology to predict data trends, recognize speech, analyze facial patterns, evaluate social media sentiment, and more</h3>
                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <div class="item bg-img parallax parallax-background1" style="background-image: url('/img/Banners/BI.jpg')">
            <!-- Content -->
            <div class="full-cap-wraper overlay-dark light-color ">
                <div class="content-caption light-color">
                    <div class="container">
                        <h2 class="h2">Power BI</h2>
                        <h3 class="h4">Rich data visualizations, custom dashboards, and intuitive report generation keep you on the cutting edge of new trends and emerging markets</h3>
                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <div class="item bg-img parallax parallax-background1" style="background-image: url('/img/Banners/app.jpg');">
            <!-- Content -->
            <div class="full-cap-wraper overlay-dark light-color ">
                <div class="content-caption light-color">
                    <div class="container">
                        <h2 class="h2">App Development</h2>
                        <h3 class="h4">Retail and Enterprise apps for Windows Store, Android, iPhone, iPad, Office, and SharePoint</h3>
                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <div class="item bg-img parallax parallax-background1" style="background-image: url('/img/Banners/cloud.jpg');">
            <!-- Content -->
            <div class="full-cap-wraper overlay-dark light-color ">
                <div class="content-caption light-color">
                    <div class="container">
                        <h2 class="h2">Cloud Transformation</h2>
                        <h3 class="h4">Reduce the infrastructure cost, increase availability, and scalability of your application</h3>
                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <div class="item bg-img parallax parallax-background1" style="background-image: url('/img/Banners/collab.jpg');">
            <!-- Content -->
            <div class="full-cap-wraper overlay-dark light-color ">
                <div class="content-caption light-color">
                    <div class="container">
                        <h2 class="h2">Collaboration & Content</h2>
                        <h3 class="h4">Portal branding, customizations, self-service capabilities, better content management, and collaboration</h3>
                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
    </div>
</section>
<!-- End Fullwidth Slider-->
<div class="clearfix"></div>
<!-- End Intro Section -->
<!-- Service Section -->
<section id="service" class="pt-90 pb-50 ptb-sm-80">
    <div class="wow fadeInLeft container text-center">
        <h3 class="">Our Services</h3>
        <p class="lead">We are a technical solutions company specializing in Data Management & Data Analytics.</p>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-45">
                
                    <div class="page-icon-top"><i class="ion ion-cube"></i></div>
                    <!--<div><img style="padding:10px; height:100px; width:auto;"src="/img/Icons/data.png"></div>-->
                    <h5 class="serviceTitle">Data Management </h5>
                    <p style="color:inherit">Take advantage of a wide range of data solutions including campaign management, website optimization, data analysis, and data warehousing.</p>
                
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                
                    <div class="page-icon-top"><i class="ion ion-lightbulb"></i></div>
                    <!--<div ><img style="padding:10px; height:100px; width:auto;"src="/img/Icons/AI.png"></div>-->
                    <h5 class="serviceTitle">Arti<span style="letter-spacing:4px">f</span>icial Intelligence </h5>
                    <p style="color:inherit">Use cutting edge technology that allows software to observe, analyze, learn, and assist in ways previously thought impossible.</p>
               
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                
                    <div class="page-icon-top"><i class="ion ion-stats-bars"></i></div>
                    <!--<div><img style="padding:10px; height:100px; width:auto;"src="/img/Icons/BI.png"></div>-->
                    <h5 class="serviceTitle">Power BI </h5>
                    <p style="color:inherit">Find and visualize data, share discoveries, and collaborate in intuitive new ways using Microsoft Power BI.</p>
                
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                
                    <div class="page-icon-top"><i class="ion ion-android-phone-portrait"></i></div>
                    <!--<div><img style="padding:10px; height:100px; width:auto;"src="/img/Icons/app.png"></div>-->
                    <h5 class="serviceTitle">App Development </h5>
                    <p style="color:inherit">Develop modern software solutions using .NET 2.0 through .NET 4.5, HTML, JavaScript, CSS, Azure, Office Apps, SharePoint, SQL versions, ADL, SSIS, SSRS, SSAS, MDX, and Power BI.</p>
               
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                
                    <div class="page-icon-top"><i class="ion ion-android-upload"></i></div>
                    <!--<div ><img style="padding:10px; height:100px; width:auto;"src="/img/Icons/cloud.png"></div>-->
                    <h5 class="serviceTitle">Cloud Transformation </h5>
                    <p style="color:inherit">Migrate outdated infrastructure to the cloud to prepare for future growth and enjoy unparalleled flexibility.</p>
               
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                
                    <div class="page-icon-top"><i class="ion ion-share"></i></div>
                    <!--<div ><img style="padding:10px; height:100px; width:auto;"src="/img/Icons/collab.png"></div>-->
                    <h5 class="serviceTitle">Collaboration & Content </h5>
                    <p style="color:inherit">Unleash SharePoint’s full potential of with fast-paced content migration, development, and testing services.</p>
                
            </div>
        </div>
    </div>
</section>
<!-- End Service Section -->
<!-- Counter Section -->
<section id="counter" class="overlay-dark80 light-color ptb-80" style="background-image: url('/img/Banners/stats.jpg');" data-stellar-background-ratio="0.5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3 mb-sm-30">
                <h1 class="counter">50,000</h1><h1 style="display:inline;">+</h1>
                <h6 class="">Dashboard Users</h6>
            </div>
            <div class="col-md-3 mb-sm-30">
                <h1 class="counter">70</h1><h1 style="display:inline;">+</h1>
                <h6 class="">Azure Implementations</h6>
            </div>
            <div class="col-md-3 mb-sm-30">
                <h1 class="counter">22</h1><h1 style="display:inline;"></h1>
                <h6 class="">Power BI Visuals</h6>
            </div>
            <div class="col-md-3 mb-sm-30">
                <h1 class="counter">5,000</h1><h1 style="display:inline;">+</h1>
                <h6 class="">Metrics</h6>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Section -->


<hr />
<!-- Blog Section -->
<section id="blog" class="wow fadeIn ptb-90 ptb-sm-80">
    <div class="container">
        <div class="text-center"><h3 class="">Latest News</h3></div>
        <div class="clearfix"></div>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30 pb-15">
                <div class="blog-post">
                    <div class="post-media news-image">
                        <a href="/news?id=1"><img id="newsimg1" class="item-container news-image" src="" alt="news" /></a>
                    </div>
                    <div class="post-meta"> <span id="newsdate1"></span></div>
                    <div class="post-header">
                        <h5 class="newsItem"><a href="/news?id=1" id="newstitle1">Title</a> </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30 pb-15">
                <div class="blog-post">
                    <div class="post-media news-image">
                        <a href="/news?id=2">
                            <img id="newsimg2" class="item-container news-image" src="" alt="news" />
                        </a>
                    </div>
                    <div class="post-meta"> <span id="newsdate2"></span></div>
                    <div class="post-header">
                        <h5 class="newsItem"><a href="/news?id=2" id="newstitle2"></a> </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30 pb-15">
                <div class="blog-post">
                    <div class="post-media news-image">
                        <a href="/news?id=3">
                            <img id="newsimg3" class="item-container news-image" src="" alt="news" />
                        </a>
                    </div>
                    <div class="post-meta"> <span id="newsdate3"></span></div>
                    <div class="post-header">
                        <h5 class="newsItem"><a href="/news?id=3" id="newstitle3"></a> </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                <div class="blog-post">
                    <div class="post-media news-image">
                        <a href="/news?id=4">
                            <img id="newsimg4" class="item-container news-image" src="" alt="news" />
                        </a>
                    </div>
                    <div class="post-meta"> <span id="newsdate4"></span></div>
                    <div class="post-header">
                        <h5 class="newsItem"><a href="/news?id=4" id="newstitle4"></a> </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                <div class="blog-post">
                    <div class="post-media news-image">
                        <a href="/news?id=5">
                            <img id="newsimg5" class="item-container news-image" src="" alt="news" />
                        </a>
                    </div>
                    <div class="post-meta"> <span id="newsdate5"></span></div>
                    <div class="post-header">
                        <h5 class="newsItem"><a href="/news?id=5" id="newstitle5"></a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                <div class="blog-post">
                    <div class="post-media news-image">
                        <a href="/news?id=6">
                            <img id="newsimg6" class="item-container news-image" src="" alt="news" />
                        </a>
                    </div>
                    <div class="post-meta"> <span id="newsdate6"></span></div>
                    <div class="post-header">
                        <h5 class="newsItem"><a href="/news?id=6" id="newstitle6"></a> </h5>
                    </div>
                </div>
            </div>

        </div>
        <h6><a href="/news" class="float-right float-none-xs">View All</a></h6>
    </div>
</section>
<!-- End Blog Section -->
<!-- Client Logos Section -->
<section id="client-logos" class="wow fadeIn pb-90 ptb-sm-80">
    <div class="container">
        <div class="owl-carousel client-carousel nf-carousel-theme">
            <div class="item">
                <div class="client-logo">
                    <img src="/img/sponsors/microsoft.png" alt="Microsoft" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="/img/sponsors/amazon.png" alt="Amazon" />
                </div>
            </div>
            <!--<div class="item">
                <div class="client-logo">
                    <img src="/img/sponsors/amazon-web-services.png" alt="aws" />
                </div>
            </div>-->
            <div class="item">
                <div class="client-logo">
                    <img src="/img/sponsors/google.png" alt="Google" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="/img/sponsors/starbucks.png" alt="Starbucks" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="/img/sponsors/devon.png" alt="Devon" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="/img/sponsors/t-mobile.png" alt="T-mobile" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="/img/sponsors/vca.png" alt="VCA" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="/img/sponsors/wunderman.png" alt="Wunderman" />
                </div>
            </div>
            <!--
            <div class="item">
                <div class="client-logo">
                    <img src="/img/sponsors/envision.png" alt="" />
                </div>
            </div>
            -->
        </div>
    </div>
</section>
<!-- End Client Logos Section -->
<section id="bloggerContent" class="hidden"></section>