<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 newsposter" data-background-img="/img/Banners/news.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">News</h2>
        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Highlights-->
<section id="highlights" class="pt-90 pb-60 ptb-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">Highlights</h3>
            </div>
        </div>
        <div class="spacer-40"></div>
        <div class="row">
            <div class="owl-carousel item4-carousel news-carousel nf-carousel-theme o-flow-hidden">
                <div class="item">
                    <div class="nf-col-padding">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img alt="News" class="news-highlight" data-clicked="1" id="newshighlightimg1" title="" src="" />
                                </div>
                            </div>
                            <!-- End Shop item images -->
                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <h6 class="shop-item-name newsItem news-highlight" data-clicked="1" id="newshighlighttitle1"></h6>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="nf-col-padding">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img alt="News" class="news-highlight" data-clicked="2" id="newshighlightimg2" title="" src="" />
                                </div>
                            </div>
                            <!-- End Shop item images -->
                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <h6 class="shop-item-name newsItem news-highlight" data-clicked="2" id="newshighlighttitle2"></h6>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="nf-col-padding">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img alt="News" class="news-highlight" data-clicked="3" id="newshighlightimg3" title="" src="" />
                                </div>
                            </div>
                            <!-- End Shop item images -->
                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <h6 class="shop-item-name newsItem news-highlight" data-clicked="3" id="newshighlighttitle3"></h6>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="nf-col-padding">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img class="news-highlight" alt="News" data-clicked="4" id="newshighlightimg4" title="" src="" />
                                </div>
                            </div>
                            <!-- End Shop item images -->
                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <h6 class="shop-item-name newsItem news-highlight" data-clicked="4" id="newshighlighttitle4"></h6>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="nf-col-padding">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img class="news-highlight" alt="News" data-clicked="5" id="newshighlightimg5" title="" src="" />
                                </div>
                            </div>
                            <!-- End Shop item images -->
                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <h6 class="shop-item-name newsItem news-highlight" data-clicked="5" id="newshighlighttitle5"></h6>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="nf-col-padding">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img class="news-highlight" alt="News" data-clicked="6" id="newshighlightimg6" title="" src="" />
                                </div>
                            </div>
                            <!-- End Shop item images -->
                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <h6 class="shop-item-name newsItem news-highlight" data-clicked="6" id="newshighlighttitle6"></h6>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Highlights -->
<!-- Blog Post Section -->
<section class="pt-60 ptb-sm-80" style="padding-bottom:77px; border-top: #f1f1f1 solid 1px;">
    <div class="container">
        <div class="row">
            <!-- Post Bar -->
            <div class="col-lg-9 col-md-9 blog-post-hr">
                <div class="blog-post mb-30 Loading" id="LoadPageNews">
                </div>
                <div id="Pagination" class="mt-30 " style="display: none;">
                    <p id="Previous" data-clicked="0" class="btn-link-a pull-left"><a><i class="ion ion-arrow-left-b"></i>PREVIOUS</a></p>
                    <p id="Next" data-clicked="1" class="btn-link-a pull-right"><a>NEXT<i class="ion ion-arrow-right-b"></i></a></p>
                </div>
            </div>
            <!-- End Post Bar -->
            <!-- Sidebar -->
            <div class="col-lg-3 col-md-3 mt-sm-30">
                <div class="sidebar-widget">
                    <h5>Press Coverage</h5>
                    <hr>
                    <ul>
                        <li>
                            <img class="newsPic" title="Inc." alt="Inc." src="/img/news/inclogoclear.png">
                        </li>
                        </br>
                        <li>
                            <a href="https://www.inc.com/entrepreneurs-organization/once-could-be-luck-but-nine-times-on-the-inc-5000-.html" target="_blank">
                                Once Could be Luck, but 9 Times on the Inc. 5000 List? You're Doing Something Right
                            </a>
                        </li>
                        </br>
                        <li>
                            <img class="newsPic" alt="The Seattle Times" title="The Seattle Times" src="/img/news/seattleTimes.png">
                        </li>
                        </br>
                        <li>
                            <a href="http://seattletimes.nwsource.com/html/businesstechnology/2002001987_india11.html" target="_blank">

                                High technology from India is just down the street (The Seattle Times)
                            </a>
                        </li>
                        <br />
                        <li>
                            <a href="http://seattletimes.nwsource.com/html/businesstechnology/2002001999_indiaagarwal11.html" target="_blank">
                                The India network: The entrepreneur Rajeev Agarwal, 39 (The Seattle Times)
                            </a>
                        </li>
                        <br />
                        <li>
                            <img class="newsPic" src="/img/news/psbj.png">
                        </li>
                        </br>
                        <li>
                            <a alt="Puget Sound Business Journal" title="Puget Sound Business Journal" href="http://www.bizjournals.com/seattle/stories/2003/08/11/story3.html" target="_blank">

                                Sea Change: Overseas Outsourcing Could Pose Problems for Tech Sector (Puget Sound Business Journal)
                            </a>
                        </li>
                        <br />
                        <li>
                            <a href="http://www.bizjournals.com/seattle/stories/2007/11/05/story1.html?b=1194238800%5e1544578&surround=etf" target="_blank">
                                Software Products being Developed in India (Puget Sound Business Journal)
                            </a>
                        </li>
                        <br />
                        <li>
                            <a href="http://www.bizjournals.com/seattle/stories/2006/03/27/story3.html" target="_blank">
                                Migration of Technology Workers from Seattle to India (Puget Sound Business Journal)
                            </a>
                        </li>
                        <br />
                        <li>
                            <img alt="BBC News" title="BBC News" class="newsPic" src="/img/news/bbcnews.png">
                        </li>
                        </br>
                        <li>
                            <a href="https://www.youtube.com/watch?v=pwn5-_9c180&feature=player_embedded" target="_blank">
                                BBC World Business Report – September 2004
                            </a>
                        </li>                        
                    </ul>
                </div>
            </div>
            <!-- End Sidebar -->
        </div>
    </div>
</section>
<!-- End Blog Post Section -->
<section id="bloggerContent" class="hidden"></section>