<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="../img/Banners/BI.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Power BI</h2>
        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Work Detail Section -->
<section class="ptb-40 ptb-sm-80">
    <div class="container">
        <!-- work Filter -->
        <div class="row">
            <ul class="col container-filter pbi-vall-container-filter ls-point01em categories-filter">
                <li><a class="categories active" data-filter="*">All</a></li>
                <li><a class="categories" data-filter=".gauge">Gauges</a></li>
                <li><a class="categories" data-filter=".kpi">KPIs</a></li>
                <li><a class="categories" data-filter=".advanced">Advanced Analytics</a></li>
            </ul>
        </div>
        <!-- End work Filter -->
        <div class="row container-grid nf-col-4">
            <div class="nf-item spacing">
                <div class="item-box">
                    <img alt="Bowtie Chart" src="../img/PowerBI/Bowtie_Chart.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Displays categorization of a value by branching out smooth interpolated nodes</div>
                            <a data-toggle="modal" data-target="#modelBowtieChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>
                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380838?tab=Overview" target="_blank">Bowtie Chart</a></h6>
            </div>
            <div class="nf-item spacing">
                <div class="item-box">

                    <img alt="Brick Chart" src="../img/PowerBI/Brick_Chart.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Consists of 100 squares that are colored according to the percentage breakdown of your datasets</div>
                            <a data-toggle="modal" data-target="#modelBrickChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380836?tab=Overview" target="_blank">Brick Chart</a></h6>
            </div>
            <div class="nf-item gauge spacing">
                <div class="item-box">

                    <img alt="Circular Gauge" src="../img/PowerBI/Circular_Gauge.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Illustrate headway toward goals in either a pie or a donut chart format.</div>
                            <a data-toggle="modal" data-target="#modelCircularGaugeChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380837?tab=Overview" target="_blank">Circular Gauge</a></h6>
            </div>

            <div class="nf-item gauge spacing">
                <div class="item-box">

                    <img alt="Cynlindrical Gauge" src="../img/PowerBI/Cylindrical_Gauge.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Track current values against a target with an intuitive 3D cylinder visual</div>
                            <a data-toggle="modal" data-target="#modelCylindricalGaugeChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380874?tab=Overview" target="_blank">Cynlindrical Gauge</a></h6>
            </div>
            <div class="nf-item advanced spacing">
                <div class="item-box">

                    <img alt="Dot Plot" src="../img/PowerBI/Dot_Plot.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>This visual is used to display distribution using dots among multiple categories.</div>
                            <a data-toggle="modal" data-target="#modelDotPlotChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381101?tab=Overview" target="_blank">Dot Plot</a></h6>
            </div>
            <div class="nf-item photo spacing">
                <div class="item-box">

                    <img alt="Dynamic Tooltip" src="../img/PowerBI/Dynamic_Tooltip.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Increase your audience’s understanding of your data by adding data to your visuals.</div>
                            <a data-toggle="modal" data-target="#modelDynamicTooltipChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380983?tab=Overview" target="_blank">Dynamic Tooltip</a></h6>
            </div>
            <div class="nf-item design spacing">
                <div class="item-box">

                    <img alt="Grid" src="../img/PowerBI/Grid.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Easy to use control with pagination, sorting and GET Rest API call functionality</div>
                            <a data-toggle="modal" data-target="#modelGridChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380825?tab=Overview" target="_blank">Grid</a></h6>
            </div>
            <div class="nf-item advanced spacing">
                <div class="item-box">

                    <img alt="Histogram With Points" src="../img/PowerBI/Histogram.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Combines benefits of showing distribution along with actual values</div>
                            <a data-toggle="modal" data-target="#modelHistogramChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381032?tab=Overview" target="_blank">Histogram With Points</a></h6>
            </div>
            <div class="nf-item design spacing">
                <div class="item-box">

                    <img alt="Horizontal Funnel" src="../img/PowerBI/Horizontal_Funnel.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Allows you to visualize customizable primary measure as colored bars.</div>
                            <a data-toggle="modal" data-target="#modelHorizontalFunnelChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380846?tab=Overview" target="_blank">Horizontal Funnel</a></h6>
            </div>
            <div class="nf-item design spacing">
                <div class="item-box">

                    <img alt="Journey Chart" src="../img/PowerBI/Journey_Chart.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Transform dense statistical data into clear networks of categories and relationships</div>
                            <a data-toggle="modal" data-target="#modelJourneyChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380989?tab=Overview" target="_blank">Journey Chart</a></h6>
            </div>
            <div class="nf-item kpi advanced spacing">
                <div class="item-box">

                    <img alt="KPI Column" src="../img/PowerBI/KPI_Column.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Here is a column chart where each column will behave as an indicator when compared with a line</div>
                            <a data-toggle="modal" data-target="#modelKPIColumnChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380996?tab=Overview" target="_blank">KPI Column</a></h6>
            </div>
            <div class="nf-item kpi spacing">
                <div class="item-box">

                    <img alt="KPI Grid" src="../img/PowerBI/KPI_Grid.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Display data in hierarchical order, with options to separate categories and illustrate trends</div>
                            <a data-toggle="modal" data-target="#modelKPIGridChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380947?tab=Overview" target="_blank">KPI Grid</a></h6>
            </div>
            <div class="nf-item kpi spacing">
                <div class="item-box">

                    <img alt="KPI Ticker" src="../img/PowerBI/KPI_Ticker.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div> Automatically flipping visual that allows you to view various metrics along with trend indicators</div>
                            <a data-toggle="modal" data-target="#modelKPITickerChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380946?tab=Overview" target="_blank">KPI Ticker</a></h6>
            </div>
            <div class="nf-item gauge spacing">
                <div class="item-box">

                    <img alt="Linear Gauge" src="../img/PowerBI/Linear_Gauge.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Create at-a-glance visualization to compare your progress against identified goals and warning zones</div>
                            <a data-toggle="modal" data-target="#modelLinearGaugeChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380821?tab=Overview" target="_blank">Linear Gauge</a></h6>
            </div>
            <div class="nf-item spacing">
                <div class="item-box">

                    <img alt="Quadrant Chart" src="../img/PowerBI/Quadrant_Chart.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Represent data in separate quadrants to show distribution of data and items that share common traits</div>
                            <a data-toggle="modal" data-target="#modelQuadrantChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381011?tab=Overview" target="_blank">Quadrant Chart</a></h6>
            </div>
            <div class="nf-item sales prod spacing">
                <div class="item-box">

                    <img alt="Ring Chart" src="../img/PowerBI/Ring_Chart.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Used to represent data as slices where sizes are relative to data</div>
                            <a data-toggle="modal" data-target="#modelRingChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380824?tab=Overview" target="_blank">Ring Chart</a></h6>
            </div>
            <div class="nf-item spacing">
                <div class="item-box">

                    <img alt="Rotating Chart" src="../img/PowerBI/Rotating_Chart.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Automatically flipping chart with a set frequency to display different KPIs in each flip</div>
                            </br>
                            <a data-toggle="modal" data-target="#modelRotatingChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381007?tab=Overview" target="_blank">Rotating Chart</a></h6>
            </div>
            <div class="nf-item spacing">
                <div class="item-box">

                    <img alt="Rotating Tile" src="../img/PowerBI/Rotating_Tile.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Automatically flipping tile with a set frequency which can be used to display different KPIs</div>
                            <a data-toggle="modal" data-target="#modelRotatingTileChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380877?tab=Overview" target="_blank">Rotating Tile</a></h6>
            </div>
            <div class="nf-item spacing">
                <div class="item-box">

                    <img alt="Text Wrapper" src="../img/PowerBI/Text_Wrapper.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Wraps a static text string (statement) along with a dynamic text field value</div>
                            <a data-toggle="modal" data-target="#modelTextWrapperChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380826?tab=Overview" target="_blank">Text Wrapper</a></h6>
            </div>
            <div class="nf-item gauge spacing">
                <div class="item-box">

                    <img alt="Thermometer" src="../img/PowerBI/Thermometer.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>This chart shows a graphical representation of value against threshold</div>
                            <a data-toggle="modal" data-target="#modelThermometerChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380847?tab=Overview" target="_blank">Thermometer</a></h6>
            </div>
            <div class="nf-item  spacing">
                <div class="item-box">

                    <img alt="Trading Chart" src="../img/PowerBI/Stock_Chart.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Displays significant stock price points as colored vertical bars</div>
                            <a data-toggle="modal" data-target="#modelTradingChart" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380823?tab=Overview" target="_blank">Trading Chart</a></h6>
            </div>
            <div class="nf-item  spacing">
                <div class="item-box">

                    <img alt="Venn Diagram" src="../img/PowerBI/Venn_Diagram.png" class="item-container">
                    <div class="item-mask">
                        <div class="item-caption text-center" style="color:white;">
                            <div>Overlapping circles illustrating the relationship among finite (two or more) datasets</div>
                            <a data-toggle="modal" data-target="#modelVennDiagram" class="btn btn-line-xs btn-white-line"><i class="fa"></i>Learn More</a>
                        </div>
                    </div>

                </div>
                <h6 class="text-center pt-15"><a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381231?tab=Overview" target="_blank">Venn Diagram</a></h6>
            </div>
        </div>
    </div>
</section>
<!-- End Work Detail Section -->
<!-- Modal -->
<div class="modal fade product_view" id="modelBowtieChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Bowtie Chart</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Bowtie Chart" title="Bowtie Chart" src="../img/PowerBI/Bowtie_Chart_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Displays the categorization of an aggregated value by branching out smooth interpolated nodes. The thickness of the branch indicates the weight of the category. You can display a half bowtie or full bowtie by providing the source category or the source and destination categories, respectively.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380838?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelBrickChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Brick Chart</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Brick Chart" title="Brick Chart" src="../img/PowerBI/Brick_Chart_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Consists of 100 squares that are colored according to the percentage breakdown of datasets. Hovering your mouse over a square brings up a tooltip. The tooltip indicates which dataset the color represents and the percentage value of the category. An optional legend above the chart identifies which datasets correspond with which colors. You may tailor the legend's title, size, and color. They may also customize the chart's width and height.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380836?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelCircularGaugeChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Circular Gauge</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Circular Gauge" title="Circular Gauge" src="../img/PowerBI/Circular_Gauge_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Illustrates progress toward goals in either a pie or donut chart format. One color illustrates current progress, the other displays the target. The percentage displayed on the report tracks progress against the target. Text size and ring size are customizable.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380837?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelCylindricalGaugeChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Cylindrical Gauge</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Cylindrical Gauge" title="Cylindrical Gauge" src="../img/PowerBI/Cylindrical_Gauge_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Tracks current values against a target with an intuitive 3D cylinder visual. The cylindrical gauge's fill line gives users an easy way to understand how actual values weigh against a target capacity. The tool is useful for evaluating inventory, fuel, or other repository levels.</p>
                        <p>Features:</p>
                        <ul class="CircleBullets">
                            <li>Actual value display. For added clarity, the fill line's actual value is listed below the cylinder.</li>
                            <li>Tick marks. Users may adjust or disable this feature. By default, tick values are enabled, with the minimum set to 0 and the maximum set to 100.</li>
                            <li>Max threshold definition. Users may include a maximum threshold to see whether the actual value is over capacity.</li>
                            <li>Scroll bar. When height restrictions limit how much of the gauge is visible, a vertical scroll bar allows users to navigate up and down.</li>
                        </ul>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380874?tab=Overview"" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelDotPlotChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Dot Plot</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Dot Plot" title="Dot Plot" src="../img/PowerBI/Dot_Plot_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Displays distribution using dots across multiple categories. This statistical chart consists of data points (bubbles) plotted on an XY axis, distributed over a desired set of values. The size of the bubble represents magnitude; color represents the type of category. Dot Plot enables users to view data through multiple parent categories and child sub-categories.</p>
                        <p>Dot Plot supports selection, partial highlighting, multi selection, legends, tooltips, displaying different color bubbles for different categories, and all other default formatting options available in Power BI. Users can modify bubble size, orientation of the chart, X-axis and Y-axis text, background and start the axis from a specified value.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381101?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelDynamicTooltipChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Dynamic Tooltip</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Dynamic Tooltip" title="Dynamic Tooltip" src="../img/PowerBI/Dynamic_Tooltip_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Increase your audience's understanding of your data by adding tooltips to your visuals. Most tooltips display static information or images. With this visual, you can display data fetched from a separate source. This allows you to create a tooltip that does not require constant adjustment. When your data changes, the tooltip changes too.</p>
                        <p>Dynamic Tooltip also works well with static statements. If you would like to add some helpful information for your audience, simply enter your text into the display field.</p>
                        <p>The decimal points, type of display units, and the tooltip's icon image are all customizable.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380983?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelGridChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Grid</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Grid" title="Grid" src="../img/PowerBI/Grid_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Easy to use control with pagination, sorting, and GET Rest API call functionality. Grid allows you to add a paginated grid to a report and specify the default sort column and sort order for the grid. It also allows you to call an API on any additional column if further processing needs to be done.</p>
                        <p>Want to have a grid with a pagination feature? Want to have a grid which supports calling APIs?</p>
                        <p>If yes, you can use Grid Power BI custom visual.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380825?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelHistogramChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Histogram With Points</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Histogram With Points" title="Histogram With Points" src="../img/PowerBI/Histogram_With_Points_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Combines benefits of showing point distribution along with actual values. The following formatting options are provided in this visual:</p>
                        <ul class="CircleBullets">
                            <li>Show or hide points in the chart</li>
                            <li>Show or hide histogram bars</li>
                            <li>Show or hide X-axis</li>
                            <li>Show or hide Y-axis-right</li>
                            <li>Show or hide Y-axis-left (Y-axis of histogram)</li>
                            <li>Show or hide grid lines</li>
                        </ul>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381032?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelHorizontalFunnelChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Horizontal Funnel</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Horizontal Funnel" title="Horizontal Funnel" src="../img/PowerBI/Horizontal_Funnel_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Allows you to visualize customizable primary measure as colored bars. You can use Horizontal Funnel to display a variety of metrics including sales stages, time, or geographic locations. A second customizable value is displayed beneath the colored bars, allowing users the ability to track an additional metric against the primary measure. The component includes the option to create a tool tip, which you may tailor to fit specific needs.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380846?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelJourneyChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Journey Chart</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Journey Chart" title="Journey Chart" src="../img/PowerBI/Journey_Chart_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Transforms dense statistical data into clear networks of categories and relationships. Reveal connections in your data with a storytelling visual. In this intuitive graph, nodes represent categories and vertices represent relationships between categories. The bigger the node or vertex, the larger the value.</p>
                        <p>Journey Chart's customizable node colors make it easy for viewers to distinguish between categories. Users can also enable text labels and tooltips for each node to provide additional information, such as a category's title and value. The color and size of text labels are adjustable. The option to enable a legend gives you the opportunity to clarify complex graphs that describe many types of data and categories.</p>
                        <p>You can use the visual for numerous scenarios, including:</p>
                        <ul class="CircleBullets">
                            <li>Explaining a process' flow</li>
                            <li>Uncovering underlying patterns</li>
                            <li>Highlighting subcategories stemming from a single source</li>
                            <li>Showing the connectedness of key categories</li>
                        </ul>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380989?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelKPIColumnChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">KPI Column</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="KPI Column" title="KPI Column" src="../img/PowerBI/KPI_Column_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Column chart where each column behaves as an indicator when compared with a line. Column color updates dynamically based on the difference in column height and respective target line value. Adding common threshold value exists for all columns. For upcoming values, the same target line can be used for forecasting and the column is displayed in a translucent color to indicate forecasted values.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380996?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelKPIGridChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">KPI Grid</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="KPI Grid" title="KPI Grid" src="../img/PowerBI/KPI_Grid_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Display data in hierarchical order, with options to separate categories and illustrate trends. Effortlessly track productivity and performance. The grid displays key data in hierarchical order.</p>
                        <p>Use arrows to illustrate KPI trends over time, such as year-to-year or quarter-to-quarter. You specify the time periods, making it easy to gauge performance according to internal deadlines and benchmarks.</p>
                        <p>KPI Grid includes the option to place separators between certain columns. Using this feature, you can visually draw out categories that you would like to compare or emphasize.</p>
                        <p>With KPI Grid's numerous formatting choices, you can customize your text, background, and units. Tailor the look and feel of your visual by updating rows' background colors or text size and color. Easily call attention to headers and totals by creating first and last rows that are visually distinct from the rest of the grid.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380947?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelKPITickerChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">KPI Ticker</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="KPI Ticker" title="KPI Ticker" src="../img/PowerBI/KPI_Ticker_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Automatically flipping visual that allows you to view various metrics along with trend indicators. KPI Ticker allows you to configure a set of metrics that will be shown in rotation. It also allows you to specify trend indicators that show the percentage or value drop or increase. Suitable for applications that focus on key metrics and the metric value increase or decrease. Visually attractive with ability to change colors of tiles and trend indicators.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380946?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelLinearGaugeChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Linear Gauge</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Linear Gauge" title="Linear Gauge" src="../img/PowerBI/Linear_Gauge_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Create at-a-glance visualization to compare your progress against identified goals and warning zones. This visual allows you to include multiple data points. The component provides the ability to illustrate trend details such as monthly or year-to-date completion rates. The pointer notes targets, and the colored bar shows the current progress toward those goals. Best suited for showing progress as compared to a target.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380821?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelQuadrantChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Quadrant Chart</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Quadrant Chart" title="Quadrant Chart" src="../img/PowerBI/Quadrant_Chart_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Represent data in separate quadrants to show distribution of data and items that share common traits. This visual is useful for plotting data that contains three measures using an X-axis, a Y-axis, and a bubble size that represents the value of the third measure.</p>
                        <p>The formatting options below are provided for the visual:</p>
                        <ul class="CircleBullets">
                            <li>Set color of each bubble.</li>
                            <li>Legends setting: on/off, position, title, color and text size.</li>
                            <li>Formatting option for quadrants and quadrant lines: four Quadrant names, X-Axis division line, Y-Axis division line and Dotted/solid.</li>
                            <li>Formatting option for X-Axis: title, title text, labels, display units and decimal points.</li>
                            <li>Formatting option for Y-Axis: title, title text, labels, display units and decimal points.</li>
                        </ul>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381011?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelRingChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Ring Chart</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Ring Chart" title="Ring Chart" src="../img/PowerBI/Ring_Chart_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Represents data as slices, where sizes are relative to data. The size of each slice is determined by the slice value relative to the sum of the values of all slices. Each data series that you plot in the chart adds a ring to the chart. The rings have different colors for easy representation of the data slices in the chart.</p>
                        <p>Key features:</p>
                        <ul class="CircleBullets">
                            <li>Ability to turn on animation to focus on specific slices. The animation visually pulls slices out of the ring chart.</li>
                            <li>Dynamic indicator displayed along with the summary at the center of ring. Threshold values define the color and direction of the indicator.</li>
                            <li>Ability to display primary and secondary measures in legends with indicators.</li>
                            <li>Ability to showcase multiple data fields in tooltips.</li>
                        </ul>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380824?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelRotatingChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Rotating Chart</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Rotating Chart" title="Rotating Chart"  src="../img/PowerBI/Rotating_Chart_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Automatically flipping chart with a set frequency to display different KPIs with each flip. This horizontal bar chart rotates on the horizontal axis to showcase multiple KPIs with each flip or rotation. Rotating Chart is useful when multiple KPIs or metrics sliced by categories are to be displayed. It uses minimal space, thus saving room on the report or dashboard.</p>
                        <p>Each flip can have a new value based on the number of KPIs that need to be displayed. For better visibility and to ensure the end user can browse the visual data conveniently, a timer can be set for the visual for the flip or rotation delay. Rotating Chart has size and color formatting options for label, title, text fonts, background, and borders.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381007?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelRotatingTileChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Rotating Tile</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Rotating Tile" title="Rotating Tile" src="../img/PowerBI/Rotating_Tile_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Automatically flipping tile with a set frequency that can be used to display different KPIs. Useful when multiple KPIs or metrics need to be displayed using minimal space on report.</p>
                        <p>Each flip of the rotating tile can have a new value based on number of KPIs that needs to be displayed. Based on the space requirements of the report, the tile can be rotated either on horizontal axis or vertical axis. For better visibility and to ensure the end user can browse the tile data conveniently, a timer can be set for the flip delay. Additionally, Rotating Tile has an option to provide a 3D effect.</p>
                        <p>Rotating Tile has size and color formatting options for label, title, text fonts, background, and borders.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380877?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelTextWrapperChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Text Wrapper</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Text Wrapper"  title="Text Wrapper" src="../img/PowerBI/Text_Wrapper_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Wraps a static text string (statement) along with a dynamic text field value. The dynamic field value updates according to the selected filter/slicer, keeping the static text intact. The user needs to provide the static string, which will be appended as ": &lt;&gt;" after the dynamic field value in the visual, resulting in the final value in the visual as: "&lt;&gt; : &lt;&gt;"</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380826?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelThermometerChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Thermometer</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Thermometer" title="Thermometer" src="../img/PowerBI/Thermometer_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Shows a graphical representation of a value against a threshold. Allows you to configure threshold values and render data per the threshold. Thermometer is a good way to represent data when you have the actual value and the target value (maximum threshold).</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380847?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelTradingChart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Trading Chart</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Trading Chart" title="Trading Chart" src="../img/PowerBI/Stock_Chart_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Displays significant stock price points as colored vertical bars. Low and high price values are represented by grey bars. Open and close price values are shown as either red or green bars, which are superimposed over the low and high values. If a stock's price drops, the bar is red; if the price rises the bar is green. Prices are listed on the vertical axis and time increments are listed on the horizontal axis. The ranges for prices and time increments are customizable.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380823?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="modelVennDiagram">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">Venn Diagram</h3>
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img alt="Venn Diagram" title="Venn Diagram" src="../img/PowerBI/Venn_Diagram_GIF.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>Venn diagram displays all possible logical relations between a collection of datasets, each typically represented as a circle. Each circle (set) is a collection of objects or array of data that all have something in common. When multiple circles (sets) overlap, it is known as the intersection - this is where data that has all the qualities that the overlapping sets have. Each circle can have their distinguishing name and color to differentiate from other circle or sets. Labeling of each circle helps in knowing its individual or intersected region's value. The same information is also visible by hovering on any of the regions.</p>
                        <a href="https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104381231?tab=Overview" target="_blank" class="btn btn-md btn-black-line ">See in AppSource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
