<!-- Intro Section -->
<section class="inner-intro bg-image overlay-dark dark-bg parallax parallax-background1 contactposter" data-background-img="/img/Banners/privacy-policy.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Privacy Statement</h2>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->
<!-- Site Wraper -->
<div class="wrapper">  
    <!-- Sidebar Section -->
    <section class="ptb-40 ptb-sm-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-8" id="PrivacyStatement">
                    <div id="MainContainer">
                        <section id="PageContainer">
                            <div id="MainContent">
                                <div class="dvLimitedWith dvBackground Pad40 PagePadding">
                                    <div id="DataSection" class="FloatLeft LeftArticle PrivacySection">
                                        <p class="DataSubContent SemiBold Color3f3f3f PrivacyLastUpdated">Last Updated: March 21, 2017</p>
                                        <p class="DataSubContent">MAQ Software is committed to protecting your privacy. This privacy statement applies to the applications published by MAQ Software via the Microsoft Office Store or by any other means. Visualizations refer to Power BI custom visuals as developed and published by MAQ Software either to Office 365 Store or Power BI gallery.</p>
                                        <ul class="MarginTop5 CircleBullets">
                                            <li>MAQ Software does not collect any personal information, <b>"Customer Data" *</b> or anything related to your device when you use any of our applications including any of the Power BI Custom Visuals.</li>
                                            <li>We do not collect or have access to any information that can identify you when you purchase an App or download a trial.</li>
                                            <li>We will never sell or share information collected as part of a trial or purchase of any of our Apps without your written consent. Information collected by Microsoft as part of trial or purchase falls under the Microsoft Privacy Policy. </li>
                                            <li>We may collect usage and download statistics, trends or any other <b>"Administrator Data" **</b> which Office 365 application administrator are provided with but not specific usage of any user.</li>
                                        </ul>
                                        <p class="DataSubContent SemiBold Color3f3f3f">*Customer Data</p>
                                        <p class="DataSubContent">Customer Data is all data, including all text, sound, or image files and software that you provide to MAQ Software through your use of the Services. Further, we may use Customer Data to provide the Services. This may include troubleshooting aimed at preventing, detecting and repairing problems affecting the operation of the services provided.</p>
                                        <p class="DataSubContent SemiBold Color3f3f3f">**Administrator Data</p>
                                        <p class="DataSubContent">Administrator Data is information about administrators (including account contact and subscription administrators) provided during sign-up, purchase, or administration of the Services. This may include name, address, phone number, and email address, whether collected at initial purchase or later during management of the Services.</p>
                                        <p class="DataSubContent">We will not disclose Customer Data or Administrator Data ("your information") outside of MAQ Software except as you direct, as described in your agreement(s) or as described in this privacy statement.</p>
                                        <p class="DataSubContent SemiBold Color3f3f3f">Changes to this Privacy Statement</p>
                                        <p class="DataSubContent">We will occasionally update this privacy statement to reflect customer feedback and changes in our Services. When we post changes to this statement, we will revise the "last updated" date at the top of the statement. We encourage you to periodically review this privacy statement to learn how MAQ Software is protecting your information.</p>
                                        <p class="DataSubContent SemiBold Color3f3f3f">How to Contact Us</p>
                                        <p class="DataSubContent">
                                            If you have any questions regarding our privacy policy, please contact us at
                                            <a href="mailto:Support@MAQSoftware.com"><i class="fa fa-envelope-o left"></i>Support at MAQSoftware dot com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <!--<div class="col-md-3 col-sm-4 mt-xs-30">
                    <div class="sidebar-widget">

                    </div>
                </div>-->

            </div>

        </div>
    </section>
    <!-- End Sidebar Section -->   
</div>