<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 recognitionsposter" data-background-img="/img/Banners/recognition.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Distinctions</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- About Section -->
<section id="recognitions" class="wow fadeIn ptb-90 ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12" id="DataSection">
                <div class="row">
                    <div class="col-md-3 RecognitionImage">
                        <a href="http://www.inc.com/profile/maq-software" target="_blank"><img src="/img/Recognition/inc5000.jpg" alt="Inc. 5000, Fastest Growing Companies in America, 2007-2012" title="Inc. 5000, Fastest Growing Companies in America, 2007-2015"></a>
                    </div>    
                    <div class="col-md-9 RecognitionContent">
                        <p class="SemiBold-600 Color3f3f3f">Nine Time Honoree, <i class="SemiBold">Inc. 5000</i>, Fastest Growing Companies in America</p>
                        <p class="topBorder">
                            MAQ Software is honored to be listed on the prestigious <i>Inc. 5000</i> list for the 9th time, a rare achievement. Since 2007, Inc. magazine has recognized 23,674 unique companies on its <i>Inc. 5000</i> list based on the sales growth of the companies. Only 1% of <i>Inc. 5000</i> companies demonstrate sustained growth by appearing nine or more times.
                        </p>
                        <p class="DataSubContent">
                            For more than 30 years, <i>Inc.’s</i> list has served as evidence of the significant accomplishments of enterprises such as Intuit,
                            Zappos, Under Armor, Microsoft, Jamba Juice, Timberland, Visa, Clif Bar, Patagonia, and Oracle.
                        </p>
                    </div>
                </div>
                <div class="row pt-45">
                    <div class="col-md-3 RecognitionImage">
                        <a class="mb-10" href="http://www.bsigroup.com/en-IN/Our-services/Certification/Certificate-and-Client-Directory-search/Certificate-Client-Directory-search-results/?searchkey=company%3dMAQ&amp;licencenumber=IS%20592346" target="_blank"><img  src="/img/Recognition/bsi.jpg" alt="ISO 27001:2013 – Information Security, 2015" title="ISO 27001:2013 – Information Security, 2015"></a>
                    </div>
                    <div class="col-md-9 RecognitionContent">
                        <p class="SemiBold-600 Color3f3f3f">ISO 27001:2013 – Information Security</p>
                        <p class="topBorder">
                            MAQ Software was certified ISO 27001:2013 by British Standards Institution.
                        </p>
                        <p class="DataSubContent">
                            ISO 27001 standards, the only auditable international standard, provides an
                            Information Security Management Systems (ISMS) model for adequate and proportionate security controls to protect information assets.
                        </p>
                    </div>
                </div>
                <div class="row pt-45">
                        <div class="col-md-3 RecognitionImage">
                            <a class="mb-10" href="https://pinpoint.microsoft.com/en-us/companies/4295523993" target="_blank"><img  src="/img/Recognition/Partner.png" alt="Microsoft Partner" title="Microsoft Gold Partner for Data Analytics, Data Platform, and Application Development"></a>
                        </div>
                    <div class="col-md-9 RecognitionContent">
                        <p class="SemiBold-600 Color3f3f3f">Microsoft Gold Partner</p>
                        <p class="topBorder">
                            Microsoft recognizes MAQ Software as a Partner with Gold competencies in Data Analytics, Data Platform, and Application Development which certifies our expertise in delivering solutions based on the latest Microsoft products.
                        </p>
                    </div>
                </div>
                <div class="row pt-45">
                    <div class="col-md-3 RecognitionImage">                        
                            <a class="mb-10"href="http://www.aws-partner-directory.com/PartnerDirectory/PartnerDetail?Name=MAQ+LLC+dba+MAQ+Software" target="_blank"><img  src="/img/Recognition/Amazon_Partner.png" alt="Amazon Consulting Partner" title="Amazon Consulting Partner"></a>
                        </div>
                    <div class="col-md-9 RecognitionContent">
                        <p class="SemiBold-600 Color3f3f3f">Amazon Consulting Partner</p>
                        <p class="topBorder">
                            MAQ Software is a Consulting Partner for the Amazon Web Services based on our technical expertise and verified client references.
                        </p>
                    </div>
                </div>
                <div class="row pt-45">
                    <div class="col-md-3 RecognitionImage">                        
                        <a class="mb-10" href="https://www.microsoft.com/en-us/procurement/msp-overview.aspx" target="_blank"><img  src="/img/Recognition/MSPreferred.png" alt="Microsoft Preferred Supplier, Since 2005" title="Microsoft Preferred Supplier, Since 2005"></a>
                    </div>
                    <div class="col-md-9 RecognitionContent">
                        <p class="SemiBold-600 Color3f3f3f">Microsoft Preferred Supplier</p>
                        <p class="topBorder">
                            MAQ Software is a preferred supplier for Microsoft since 2000. Our supplier status confirms the confidence Microsoft Corporation has in our quality and delivery model.
                        </p>
                    </div>
                </div>
                
                <div class="row pt-45">
                    <div class="col-md-3 RecognitionImage">
                        <a  href="http://www.bizjournals.com/seattle/stories/2009/10/19/focus2.html" target="_blank"><img  src="/img/Recognition/FastestGrowing.png" alt="Puget Sound Business" title="Puget Sound Business Journal's 100 Fastest-Growing Private Companies in Washington State"></a>
                    </div>
                    <div class="col-md-9 RecognitionContent">
                        <p class="SemiBold-600 Color3f3f3f"><i class="SemiBold-600">Puget Sound Business Journal's</i> 100 Fastest-Growing Private Companies in Washington State</p>
                        <p class="topBorder">
                            MAQ Software is recognized as one of the fastest growing private companies in Washington State for five consecutive years.
                        </p>
                        <p class="DataSubContent">
                            MAQ Software is also featured in the Hall of Fame (companies that have made to the list four or more years, the <i>Business Journal</i> acknowledges by adding them to the Hall of Fame).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service -->
<hr />
<!-- About Section -->